{
  "API_KEY": "API KEY",
  "API_SECRET": "API SECRET",
  "ACCESS_TOKEN": "ACCESS TOKEN",
  "ACCESS_TOKEN_SECRET": "ACCESS TOKEN SECRET",
  "GOOGLE_CUSTOM_SEARCH": "GOOGLE CUSTOM SEARCH CREDENTIALS",
  "GOOGLE_CS_ID": "GOOGLE CUSTOM SEARCH ID"
}