{
  "TWITTER": {
    "API_KEY": "API KEY",
    "API_SECRET": "API SECRET",
    "ACCESS_TOKEN": "ACCESS TOKEN",
    "ACCESS_TOKEN_SECRET": "ACCESS TOKEN SECRET"
  },
  "GOOGLE": {
    "GOOGLE_API_KEY": "GOOGLE API KEY",
    "CUSTOM_SEARCH_ID": "GOOGLE CUSTOM SEARCH ID"
  }
}